.header {
  height: 100%;
  box-shadow: $shadow-1;
}

.ad {
  height: 54px;
  width: 100%;
  background-image: url("../../public/images/ad.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.top {
  background-color: #f8f8f8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  &_Container {
    max-width: 95%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_List {
    display: flex;
    gap: 15px;
    .li {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      color: $dark-gray-color;
      cursor: pointer;
      position: relative;

      .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        svg {
          transform: scale(1.2);
          margin-right: 3px;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
      svg {
        width: 20px;
        height: 20px;
        fill: #ccc;
      }
      span {
        font-size: 12px;
        padding-right: 5px;
      }
      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: #ccc;
        // top: 50%;
        right: -8px;
      }
      &:last-of-type {
        &::after {
          display: none;
        }
      }
      &:hover {
        span {
          color: #222;
        }
        svg {
          fill: $dark-gray-color;
        }
      }
      @media (max-width: 670px) {
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4) {
          display: none;
        }
      }
    }
  }
}

.menu {
  width: 280px;
  min-height: 200px;
  box-shadow: $shadow-1;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: $white-color;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  h4 {
    text-align: center;
  }
  .flex {
    display: flex !important;
    justify-content: flex-start !important;
    gap: 10px !important;
    width: 100%;
    padding: 0 1rem;
  }
  &_avatar {
    width: 100px !important;
    height: 100px !important;
  }
  .col {
    display: flex;
    flex-direction: column;
    span {
      font-size: 14px;
      &:last-of-type {
        color: $blue-color;
        text-decoration: underline;
      }
    }
  }
  ul {
    li {
      height: 30px;
      a {
        width: 100%;
        padding-left: 1rem !important;
      }
      &:hover {
        background-color: #eee;
      }
    }
  }
}

.mainHeader {
  position: relative;
  margin-top: 0.2rem;
  height: 70px;
  display: flex;
  align-items: center;
  &_container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }
  .logo {
    // img {
    //   width: 100%;
    //   height: 100%;
    // }
  }
  .search {
    display: flex;
    align-items: center;
    flex: 1;
    height: 40px;
    border-radius: 4px;
    background-color: #eee;
    input {
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      background: transparent;
      padding-left: 1rem;
    }
    &_icon {
      background-color: $blue-color;
      display: grid;
      place-items: center;
      width: 40px;
      height: 40px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      cursor: pointer;
      svg {
        width: 21px;
        height: 21px;
        fill: $white-color;
      }
    }
  }
  .cart {
    position: relative;
    svg {
      width: 35px;
      height: 35px;
      fill: $dark-gray-color;
      cursor: pointer;
      &:hover {
        fill: $blue-color;
      }
    }
    span {
      position: absolute;
      top: -5px;
      right: -10px;
      background-color: $blue-color;
      width: 23px;
      height: 23px;
      display: grid;
      place-items: center;
      font-weight: 600;
      color: $white-color;
      border-radius: 50%;
    }
  }
}
